body{
    font-family: 'Raleway', sans-serif;   
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}
#header{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    position: fixed;
    width: 100%; 
    z-index: +5;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);

}

#contact{
    text-align: center;
    position: relative;
    bottom: 40px;
    
}

.emailwords{
    position: relative;
    bottom: 170px;
    margin-bottom: 40px;
    font-size: 20px;
}

.email{
    color: #42ab9e;
}

 #aboutTitle h2{
        margin-left: 10px;
      }

.num{
    width: 40px;
    height: 40px;
    padding-top: 7px;
    border-radius: 50%;
    background-color: #42ab9e;
    float: left;
    color: white;
    font-family: 'Sofia', cursive;
    text-align: center;
    font-size: 20px;
    margin-right: 5px;
}

.proheading{
    font-size: 20px;
    color: #42ab9e;
    padding-top: 7px;
    padding-left: 5px;
}

.processImage{
    width: 20%;
    height: 200px;
    background-color: blue;
    float: right;
}

.prodescription{
    float: left;
    width: 70%;
    
    background-color: yellow;
}

.step{

}

#altMenu{
    display: none;
}

 ul li {
    display:inline-block;
    padding: 5px;
    margin: 0px 20px 0px 20px;
   
    
 }

 ul{
    padding-left: 0px;
 }

 li a:hover {
  color: #42ab9e; 

}

.main-image{
    background-color: #42ab9e;
    padding: 40px;
    height: 570px;
    text-align: center;

}

h1{
    margin-top: 100px;
    font-size: 60px;
    color: #ffffff;
    font-family: 'Sofia', cursive;

}


h2{

    color: grey;
    font-family: 'Sofia', cursive;
    margin-top: 60px;
    font-size: 50px;
}

h4{
    color: #ffffff;
    font-size: 20px;

}

.intro{
    font-family: 'Sofia', cursive;
    font-size: 35px;
    color:white;
    margin-left: 40px;
    margin-top: 40px;
}

#workSection{
    
}

#projectTitle{
    text-align: center;
    padding-top: 20px;
}

#aboutTitle{
    text-align: left;
    position: relative;
    top:20px;
}

#contactTitle{
    text-align: center;
    position: relative;
    bottom: 120px;
    font-size: 40px;
    
}


.work{
    width: 200px;
    height: 200px;
    background-color: grey;
    margin: 20px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    position: relative;
}

.work:hover .overlay {
  opacity: 1;
}

.work img{
    width: 200px;
    height: 200px;
    border-radius: 3px;
}

.heading{
    padding:120px;
}

a{
    text-decoration: none;
    color:grey;

}

#projectSection{
    height:20px;
    background-color: #42ab9e;
}

#mainWork{
    margin-left: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: #42ab9e;
}


.text1{
  color: white;
  text-align: center;
  font-size: 15px;
  margin: 30px;
  margin-top: 60px;
  
}

.text {
  color: white;
  text-align: center;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#about{
    padding-top: 40px;
    padding-bottom: 40px;
}

#aboutWords{
    width:100%;
    background-color: #42ab9e;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
}

.mainabout{
    width: 80%;
    line-height: 25px;
    color: white;
    padding-left: 40px;
}

#aboutImage{
    position: relative;
    left:50px;

}

#aboutContent{

}

.pageHeadings{
    color: #f2485f;
    font-family: 'Sofia', cursive;
    text-align: center;

}

.pageHeadings2{
    color: #f2485f;
    font-family: 'Sofia', cursive;
    text-align: left;
    margin: 40px;

}

.display{
    width:25%;
    margin: 40px;
    margin-right: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    float: left;
}

.display img{
    width:100%;
    margin-right: 0px;
}
.displayDescription{
   margin: 40px;
   width: 70%;
   line-height: 25px;
    
}

#contactLink{
    height:10px;
    z-index: -3;
    
}

#contactWords{
    font-size: 20px;
    text-align: left;
    width:200px;
    margin: 75px;
    position: relative;
    bottom: 180px;
}



#pageNav{
    margin-left:20px;
    margin-top: 40px;
}


/*Modal images*/

/* Style the Image Used to Trigger the Modal */
#myImg, #myImg2, #myImg3, #myImg4{
    
    cursor: pointer;
    transition: 0.3s;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#myImg:hover {opacity: 0.7;}

#myImg2:hover {opacity: 0.7;}

#myImg3:hover {opacity: 0.7;}

#myImg4:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#mainOtherPages{
    
    margin-bottom: 100px;
    margin-left: 10px;

}

#mainOtherPages img{
    margin-left: 30px;
    margin-bottom: 30px;
    
}

/*Code for SlideShow*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  padding: 40px;

}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



@media all and (max-width: 620px){
  
  .other{
    width: 80%;
    height: 20%;
  }

    #pageNav ul li{
    margin-left:5px;
    margin-top: 5px;
    display: inline-block;

}

    #pageNav ul li a{
    color: grey;
    
}
    #header{
    display: none;
      }
      .main-image{
        height: 300px;
        padding: 10px;
        margin-bottom: 0px;
      }h1{
        margin-top: 0px;
        font-size: 37px;
      }h4{
        font-size: 15px;
      }h2{
        font-size: 35px;
      }.heading{
        padding:0px;
        padding-top:100px;
      }.work{
        

      }.work img{
        width: 100%;
        height: 100%


      }#mainWork{
        width: 90%;
        text-align: center;
      }

      #aboutTitle{
        text-align: center;  

      }

      .mainabout{
        width: 80%;
        font-size: 14px;
      }
      #altMenu{
      display: block;
      text-align: center;
      background-color: white;
      height: 100px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);


      
    }
    .modal-content {
        width: 100%;
    }
    ul li{
        display: block;
        padding:15px;
        text-align: center;

        
        color: white;
        

    }
   

    li a{
        color: #42ab9e;
    }

    li a:hover{
        color: #42ab9e;
    }

    }
    #contact{
        height: 140px;
    }

    #projectSection{
        background-color: white;
    }



}

@media all and (min-width: 501px) and (max-width: 999px){

    

   
}

@media all and (min-width: 1000px){
    body,
    #header
   {width: 1000px;
      margin: 0 auto;
    }
    #about{
    padding-top: 40px;
    padding-bottom: 40px;
}

#contact{
    float:right;
    width: 400px;
}

#aboutWords{
    width:60%;
    float:left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
}

.mainabout{
    width: 85%;
    line-height: 25px;
    color: white;
    padding-left: 40px;
}

#aboutImage{
    position: relative;
    left:50px;

}


}

}
