body{
    font-family: 'Raleway', sans-serif;   
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}
#header{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    position: fixed;
    width: 100%; 
    z-index: +5;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);

}


#altMenu{
    display: none;
}

 ul li {
    display:inline-block;
    padding: 5px;
    margin: 0px 20px 0px 20px;
   
    
 }

 ul{
    padding-left: 0px;
 }

 li a:hover {
  color: #42ab9e; 

}

.main-image{
    background-color: #42ab9e;
    padding: 40px;
    height: 570px;
    text-align: center;

}

h1{
    margin-top: 150px;
    font-size: 60px;
    color: #ffffff;
    font-family: 'Sofia', cursive;

}


h2{

    color: grey;
    font-family: 'Sofia', cursive;
    margin-top: 60px;
    font-size: 50px;
}

h4{
    color: #ffffff;
    font-size: 20px;

}

.intro{
    font-family: 'Sofia', cursive;
    font-size: 35px;
    color:white;
    margin-left: 40px;
    margin-top: 40px;
}

#workSection{
    
}

#projectTitle{
    text-align: center;
    padding-top: 20px;
}

#aboutTitle{
    text-align: left;
    position: relative;
    top:20px;
}

#contactTitle{
    text-align: center;
    position: relative;
    bottom: 120px;
    font-size: 40px;
    
}


.work{
    width: 200px;
    height: 200px;
    background-color: grey;
    margin: 20px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    position: relative;
}

.work:hover .overlay {
  opacity: 1;
}

.work img{
    width: 200px;
    height: 200px;
    border-radius: 3px;
}

.heading{
    padding:120px;
}

a{
    text-decoration: none;
    color:grey;

}

#projectSection{
    height:20px;
    background-color: #42ab9e;
}

#mainWork{
    margin-left: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: #42ab9e;
}




.text {
  color: white;
  text-align: center;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#about{
    padding-top: 40px;
    padding-bottom: 40px;
}

#aboutWords{
    width:100%;
    background-color: #42ab9e;
    padding-top: 10px;
    height: 650px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
}

.mainabout{
    width: 80%;
    line-height: 25px;
    color: white;
    padding-left: 40px;
}

#aboutImage{
    position: relative;
    left:50px;

}

#aboutContent{

}

.pageHeadings{
    color: #f2485f;
    font-family: 'Sofia', cursive;
    text-align: center;

}

.pageHeadings2{
    color: #f2485f;
    font-family: 'Sofia', cursive;
    text-align: left;
    margin: 40px;

}

.display{
    width:25%;
    margin: 40px;
    margin-right: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    float: left;
}

.display img{
    width:100%;
    margin-right: 0px;
}
.displayDescription{
   margin: 40px;
   width: 70%;
   line-height: 25px;
    
}

#contactLink{
    height:10px;
    z-index: -3;
    
}

#contactWords{
    font-size: 20px;
    text-align: left;
    width:200px;
    margin: 75px;
    position: relative;
    bottom: 180px;
}

#contact{
    float:right;
    width: 400px;
}

#pageNav{
    margin-left:20px;
    margin-top: 40px;
}

@media all and (max-width: 500px){
    
    #header{
    display: none;
      }
      .main-image{
        height: 300px;
        padding: 10px;
        margin-bottom: 0px;
      }h1{
        margin-top: 0px;
        font-size: 37px;
      }h4{
        font-size: 15px;
      }h2{
        font-size: 35px;
      }.heading{
        padding:0px;
        padding-top:100px;
      }.work{
        

      }.work img{
        width: 100%;
        height: 100%


      }#mainWork{
        width: 90%;
        text-align: center;
      }

      #aboutTitle{
        text-align: center;

      }
      #aboutWords{
        width: 100%;
        padding-top: 10px;
        height: 820px;
      }
      .mainabout{
        width: 80%;
        font-size: 14px;
      }
      #altMenu{
      display: block;
      text-align: center;
      background-color: white;
      height: 100px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);


      
    }
    ul li{
        display: block;
        padding:15px;
        text-align: center;

        
        color: white;
        

    }
   

    li a{
        color: #42ab9e;
    }

    li a:hover{
        color: #42ab9e;
    }

    }
    #contact{
        height: 140px;
    }

    #projectSection{
        background-color: white;
    }



}

@media all and (min-width: 501px) and (max-width: 999px){

    

   
}

@media all and (min-width: 1000px){
    body,
    #header
   {width: 1000px;
      margin: 0 auto;
    }
    #about{
    padding-top: 40px;
    padding-bottom: 40px;
}

#aboutWords{
    width:60%;
    padding-top: 10px;
    height: 700px;
    float:left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
}

.mainabout{
    width: 85%;
    line-height: 25px;
    color: white;
    padding-left: 40px;
}

#aboutImage{
    position: relative;
    left:50px;

}

#aboutContent{

}
}

